<h2>Login</h2>
<form (ngSubmit)="onSubmit()" class="form" [formGroup]="loginForm">
    <div class="input-group">
        <input matInput type="text" name="email" formControlName="email" id="email-form" required placeholder="Email" />
        <input matInput type="text" name="password" formControlName="password" id="password-form" required
            placeholder="Password" />
    </div>

    <button type="submit" mat-raised-button class="login-button">Login</button>

    <p class="or-text">Or continue with</p>

    <div class="social-buttons">
        <button mat-stroked-button class="google-button">
            <mat-icon>g_translate</mat-icon> Google
        </button>
        <button mat-stroked-button class="facebook-button">
            <mat-icon>facebook</mat-icon> Facebook
        </button>
    </div>
</form>