<h2>Login</h2>
<form (ngSubmit)="onSubmit()" class="form" [formGroup]="loginForm">
    <div class="input-group">
        <input matInput type="email" name="email" formControlName="email" id="email-form" required
            placeholder="Email" />
        <input matInput type="password" name="password" formControlName="password" id="password-form" required
            placeholder="Password" />
    </div>

    <button type="submit" mat-raised-button class="login-button">Login</button>

    <p class="or-text">Or continue with</p>

    <div class="social-buttons">
        <button mat-stroked-button class="google-button">
            <div class="icon-flex">
                <fa-icon [icon]="facebook"></fa-icon>
                <p>Facebook</p>
            </div>
        </button>
        <button mat-stroked-button class="facebook-button">
            <div class="icon-flex">
                <fa-icon [icon]="google"></fa-icon>
                <p>Google</p>
            </div>
        </button>
    </div>
</form>