<iframe src='https://my.spline.design/untitled-2b22776aa79f29c171c85f3e4b1b13fd/' frameborder='0' width='100%'
    height='250px'></iframe>
<div class="container">
    <div class="card-style">
        <h1>Welcome!</h1>
        <p>{{ message }}</p>
        <mat-tab-group fitInkBarToContent (selectedIndexChange)="onTabChange($event)">
            <mat-tab label="Login">
                <app-login></app-login>
            </mat-tab>
            <mat-tab label="Register">
                <app-register></app-register>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>