<div>
    <h1>Benvenuto</h1>
    <mat-card appearance="outlined">
        <mat-card-content>
            <section>
                <div class="button-flex">
                    <div class="example-button-row">
                        <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
                    </div>
                    <div class="example-button-row">
                        <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
                    </div>
                </div>

            </section>
        </mat-card-content>
    </mat-card>

</div>