<h2>Effettua La registrazione</h2>
<form (ngSubmit)="onSubmit()" class="form" [formGroup]="registerForm">
    <div class="input-group">
        <div class="flex-input"><input matInput type="text" formControlName="name" placeholder="Inserisci il tuo nome">
            <input matInput type="text" formControlName="lastname" placeholder="Inserisci il tuo cognome">
        </div>
        <input matInput type="email" formControlName="email" placeholder="Inserisci la tua email">

        <input matInput type="text" name="password" formControlName="password" id="password-form" required
            placeholder="Password" />
        <input matInput type="text" name="repassword" formControlName="repassword" id="password-form" required
            placeholder="Conferma Password" />

    </div>

    <button type="submit" mat-raised-button class="sign-in-button">Register</button>

    <p class="or-text">Or continue with</p>

    <div class="social-buttons">
        <button mat-stroked-button class="google-button">
            <mat-icon>g_translate</mat-icon> Google
        </button>
        <button mat-stroked-button class="facebook-button">
            <mat-icon>facebook</mat-icon> Facebook
        </button>
    </div>
</form>