<h2>Register</h2>
<form (ngSubmit)="onSubmit()" class="form" [formGroup]="registerForm">
    <div class="input-group">
        <div class="flex-input"><input matInput type="text" formControlName="name" placeholder="First Name">
            <input matInput type="text" formControlName="lastname" placeholder="Last Name">
        </div>
        <input matInput type="email" formControlName="email" placeholder="Email">

        <input matInput type="password" name="password" formControlName="password" id="password-form" required
            placeholder="Password" />
        <input matInput type="password" name="repassword" formControlName="repassword" id="password-form" required
            placeholder="Confirm Password" />

    </div>

    <button type="submit" mat-raised-button class="register-button">Register</button>

    <p class="or-text">Or continue with</p>

    <div class="social-buttons">
        <button mat-stroked-button class="google-button">
            <div class="icon-flex">
                <fa-icon [icon]="facebook"></fa-icon>
                <p>Facebook</p>
            </div>
        </button>
        <button mat-stroked-button class="facebook-button">
            <div class="icon-flex">
                <fa-icon [icon]="google"></fa-icon>
                <p>Google</p>
            </div>
        </button>
    </div>
</form>