/* You can add global styles to this file, and also import other style files */

html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #F1F2EB, #D8DAD3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}


.container {
    height: 100%;
}


.card-style {
    background: #fff;
    border-radius: 15px;
    padding: 2rem 3rem;
    width: 550px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 100% !important;

    ::-webkit-scrollbar {
        display: none;
    }

}

h1 {
    font-size: 2.5rem;
    color: #333;
}

h2 {
    margin-top: 2rem;
}

p {
    color: #666;
    margin: .3125rem;
}




.input-group {
    width: 100%;
    margin: 1rem 0 2rem 0;


    input {
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        border: 2px solid #003049;
        margin: 0.5rem 0;
        color: #000;
    }

    input:hover {
        border: 2px solid #D62828;
    }
}

.login-button,
.register-button {
    width: 100%;
    background-color: #003049 !important;
    color: #fff !important;

}

.sign-up-text {
    margin-top: 1.5rem;
    color: #666;
}

.sign-up-text a {
    color: #003049;
    text-decoration: none;
}

.or-text {
    margin: 1.5rem 0;
    color: #666;
}

.social-buttons {
    display: flex;
    justify-content: space-between;
}


.google-button,
.facebook-button {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    width: 48%;
}

.flex-input {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.icon-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}